<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Archblox Careers</title>
    <style>
      h1 {
        font-size: 40px;
        font-family: Roboto;
        font-weight: normal;
        text-align: center
      }
      h2 {
        font-size: 32px;
        font-family: Roboto;

        text-align: center;
        color: rgb(100, 100, 100);
      }
      
     #banner {

       width: 100%
       higth: 360px;
       covert-fit: cover;
     }
    </style>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Archblox Careers</h1>
    <img id="banner" src="https://archbloxcom-1.burairabbas2.repl.co/static/We.jpg" height=340> 
<Archblox>
      

    <h1>Archblox 2</h1>
    <h2>About Archblox</h2>
    <p>
      This is a career website like mainley of gaming sort of
    </p>
    <h2>Open Positions</h2>
    <p>TODO - Show the jobs here.</p>
    <button>Contact Us</button>
  </body>
  </body>
  </head>
</html>

